### Intellij ###

.idea/
*.iml
*.iws

## Plugin-specific files:

# IntelliJ
/out/
/test-output

# mpeltonen/sbt-idea plugin
.idea_modules/

### Git ###
*.orig


### Java ###
*.class

# Mobile Tools for Java (J2ME) #
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

